<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/fotosocial-register/fotosocial-register.html">
<link rel="import" href="../../bower_components/fotosocial-user-registration/fotosocial-user-registration-dm.html">
<link rel="import" href="../../bower_components/fotosocial-login/fotosocial-login.html">
<link rel="import" href="../../bower_components/fotosocial-user-login-dm/fotosocial-user-login-dm.html">
<link rel="import" href="../../bower_components/fotosocial-dashboard/fotosocial-dashboard.html">

<dom-module id="fotosocial-app">
  <template>
    <style>
      :host {
        display: block;
        margin: 0;
        padding: 0;
      }
    </style>
    <dom-if if="[[_activeElement('fotosocialLogin', activeElement)]]">
      <template>
        <fotosocial-login
          id="fotosocialLogin"
          on-click-login="_login"
          on-click-go-to-register="_goTo">
        </fotosocial-login>
      </template>
    </dom-if>
    <dom-if if="[[_activeElement('fotosocialRegister', activeElement)]]">
      <template>
        <fotosocial-register
          id="fotosocialRegister"
          on-click-register="_register"
          on-click-go-to-login="_goTo">
        </fotosocial-register>
      </template>
    </dom-if>
    <dom-if if="[[_activeElement('fotosocialDashboard', activeElement)]]">
      <template>
        <fotosocial-dashboard on-log-out="_logout" user="[[activeUser]]"></fotosocial-dashboard>
      </template>
    </dom-if>

    <fotosocial-user-registration-dm
      id="userRegistrationDm"
      on-user-already-registered="_userAlreadyRegistered"
      on-user-successfully-registered="_userSuccessfullyRegistered">
    </fotosocial-user-registration-dm>
    <fotosocial-user-login-dm id="userLoginDm" on-validate-user-response="_validateUserResponse"></fotosocial-user-registration-dm>
    <paper-dialog id="modalSuccessfully" modal>
      <p>Usuario registrado exitosamente.</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus on-click="_goToLogin">Aceptar</paper-button>
      </div>
    </paper-dialog>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FotosocialApp extends Polymer.Element {
      static get is() { return 'fotosocial-app'; }
      static get properties() {
        return {
          activeElement: {
            type: String,
            value: 'fotosocialLogin'
          },
          activeUser: {
            type: String,
            value: ''
          }
        };
      }

      _activeElement(element, activeElement) {
        return element === activeElement;
      }

      _goTo(event) {
        this.set('activeElement', event.detail);
      }

      _goToLogin() {
        this._goTo({detail: 'fotosocialLogin'});
      }

      _logout() {
        this._goToLogin();
      }

      _register(event) {
        this.$.userRegistrationDm.set('user', event.detail);
        this.$.userRegistrationDm.saveUserToLocalStorage();
      }

      _userAlreadyRegistered(event) {
        this.shadowRoot.querySelector('#fotosocialRegister').set('userExists', false);
        this.shadowRoot.querySelector('#fotosocialRegister').set('user', '');
        this.shadowRoot.querySelector('#fotosocialRegister').set('password', '');
        this.shadowRoot.querySelector('#fotosocialRegister').set('passwordConfirm', '');
      }

      _userSuccessfullyRegistered(event) {
        this.$.modalSuccessfully.open();
        //this.shadowRoot.querySelector('#modalSuccessfully').open();
        //alert("Usuario registrado exitosamente");
      }

      _login(event) {
        this.$.userLoginDm.set('user', event.detail);
        this.$.userLoginDm.validateUser();
      }

      _validateUserResponse(event) {
        if(event.detail.isUserValid === true) {
          this.set('activeUser', this.shadowRoot.querySelector('#fotosocialLogin').get('user'));
          this.set('activeElement', event.detail.goTo);
        }
        else {
          this.root.querySelector('#fotosocialLogin').set('displayError', true);
        }
      }
    }

    window.customElements.define(FotosocialApp.is, FotosocialApp);
  </script>
</dom-module>
